<!DOCTYPE html>
<html lang="en" ng-app="filmak.in">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="719229338900-2o1tlht9lbr9vielvdfhug5psfn029ul.apps.googleusercontent.com">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>filmak.in</title>
    <link rel="icon" href="fav.png" type="image/png" sizes="16x16">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="slider/css/demo.css" type="text/css" media="screen">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/main.css" rel="stylesheet">
    <!--jQuery-->
    <script src="jquery.js"></script>  
    <script src="bootstrap/js/bootstrap.js"></script>
    <link href='https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Pacifico' rel='stylesheet' type='text/css'>
    
    <style>body { padding-bottom: 70px; }</style>
    <!--FLEXSLIDER-->
    
    <link rel="stylesheet" type="text/css" href="slider/flexslider.css">
 
    <!--ANGULARjs-->
    <script src="angular/angular.min.js"></script>    
    
    <script src="angular/filmak.js"></script>

  <script src="angular/angular-flexslider.js"></script>
  


    
  </head>

  <body ng-cloak>
    <!--outer container for check - further will change it with col-sm-8 for ads-->
    <div ng-controller="mainController as mainCtrl">
    <div class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
      <a class="navbar-brand" href="home.html">
        <img src="logo.png" alt="brand">
      </a>
    </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       </ul> 
      <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control sharp" placeholder="{{placeholder_search}}" ng-model="search_string">
  </div>
  <button type="submit" class="btn btn-default sharp" ng-click = "search()">Submit</button>
  <br>
  <br>
  <div align="center">
    Video&nbsp;<input type="radio" ng-model="searchType" name="searchType" value="video" checked />
  &nbsp;&nbsp;&nbsp;Profile&nbsp;<input type="radio" ng-model="searchType" value="profile" >
  </div>
  </form>
     
    <div class="top-mar">
                  <div ng-show="show()">
             <ul class="nav navbar-nav navbar-right"><li><div class="dropdown veralign" ><button class="btn btn-default dropdown-toggle sharp" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" overflow="hidden" >Hi {{name}} &nbsp;<span class="caret"></span></button><ul class="dropdown-menu"><li><a href="profile.php">View profile</a></li><li><a ng-click="logout()">Logout</a></li><li><a href="upload.php">Upload</a></li></ul></div></li></ul>
           </div>
           <div ng-hide="show()">
            <ul class="nav navbar-nav navbar-right"><li><a href="signin.php" class="btn btn-default" type="button">Login/SignUp</a></li></ul>
          </div>
     </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div><!-- mainCtrl ends-->
   <div class="container2 headclr">
    <!--single row of thumnails-->
    <div class="col-sm-12">
      
       <h4>New</h4>
      
     <flex-slider class="carousel" slide="video in responses_new.data" animation="slide" animation-loop="false" item-width="210" item-margin="5">
    <li>
      <img ng-src="images/{{video.videoID}}.jpg" draggable="false" ng-click="goto_video(video.videoID)">
      <div class="hh"><a ng-click="goto_video(video.videoID)">{{video.title}}</a><p>{{video.description}}</p></div>
     
    </li>
    </div>

  </flex-slider>
  <div class="col-sm-12">
      
       <h4>Trending</h4>
 <flex-slider class="carousel" slide="video in responses_trending.data" animation="slide" animation-loop="false" item-width="210" item-margin="5">
    <li>
      <img ng-src="images/{{video.videoID}}.jpg" draggable="false" ng-click="goto_video(video.videoID)">
      <div class="hh"><a ng-click="goto_video(video.videoID)">{{video.title}}</a><p>{{video.description}}</p></div>
     
    </li>

  </flex-slider>
  </div>
  <div class="col-sm-12">
      
       <h4>Popular</h4>
  <flex-slider class="carousel" slide="video in responses_popular.data" animation="slide" animation-loop="false" item-width="210" item-margin="5">
    <li>
      <img ng-src="images/{{video.videoID}}.jpg" draggable="false" ng-click="goto_video(video.videoID)">
      <div class="hh"><a ng-click="goto_video(video.videoID)">{{video.title}}</a><p>{{video.description}}</p></div>
     
    </li>
  </flex-slider>
</div>
  <script src="slider/jquery.flexslider.js"></script>


<!--end of single row-->

</div>



   <!--single row of thumnails-->
   

  



   
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  
   


  </body>
</html>
