<!DOCTYPE html>
<html lang="en" ng-app="filmak.in">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>filmak.in</title>
    <link rel="icon" href="fav.png" type="image/png" sizes="16x16">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/main.css" rel="stylesheet">
    <!--jQuery-->
    <script src="jquery.js"></script>  
    <script src="bootstrap/js/bootstrap.js"></script>
    
    
    <style>body { padding-bottom: 70px; }</style>
    <!--FLEXSLIDER-->
    <link rel="stylesheet" href="slider/css/demo.css" type="text/css" media="screen">
    <link rel="stylesheet" href="slider/flexslider.css" type="text/css" media="screen">
    <script src="slider/js/modernizr.js"></script>  
    <!--ANGULARjs-->
    <script src="angular/angular.min.js"></script>    
    <script src="angular/angular-cookies.js"></script>
    <script src="angular/filmak.js"></script>
    <script src="angular/angular-cookies.js"></script>
    
  </head>
  <body ng-cloak>
    <!--outer container for check - further will change it with col-sm-8 for ads-->
    <div ng-controller="mainController as mainCtrl">
    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="logo.png" alt="brand">
      </a>
    </div>
    
        <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control sharp" placeholder="Search" ng-model="search_string">
  </div>
  <button type="submit" class="btn btn-default sharp" ng-click = "search()">Submit</button>
  </form>
              <div ng-show="show()">
             <ul class="nav navbar-nav navbar-right"><li><div class="dropdown veralign" ><button class="btn btn-default dropdown-toggle sharp" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Hi<span class="caret"></span></button><ul class="dropdown-menu"><li><a href="profile.php">View profile</a></li><li><a ng-click="logout()">Logout</a></li><li><a href="upload.php">Upload</a></li></ul></div></li></ul>
           </div>
           <div ng-hide="show()">
            <ul class="nav navbar-nav navbar-right"><li><a href="login.html" class="btn btn-default" type="button">Login</a></li></ul>
          </div>

         
  </div>
</nav>
</div><!-- mainCtrl ends-->
   <div class="container2 headclr">
    <!--single row of thumnails-->
    <div class="col-sm-12">
      <div class="col-sm-12">
       <h4>New</h4>
      </div>
     <section class="slider">
        <div class="flexslider carousel">
          
        <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 2400%; transition-duration: 0s; transform: translate3d(-860px, 0px, 0px);">
         
            <li ng-repeat="video in responses_new.data" data-thumb-alt="" style="width: 300px;  ; margin-right: 5px; float: left; display: block;">
              <img ng-src="images/{{video.videoID}}jpg" draggable="false">
              
              <div class="hh"><a ng-click="goto_video(video.videoID)"><strong>{{video.title}}</strong></a><p><strong>{{video.description}}</strong></p></div>
            </li>
              

            
          </ul></div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" data-target="#">Next</a></li></ul></div>
      </section>
   </div><!--end of single row-->


    <!--single row of thumnails-->
    <div class="col-sm-12">
      <div class="col-sm-12">
       <h4>Popular</h4>
      </div>
     <section class="slider">
        <div class="flexslider carousel">
          
        <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 2400%; transition-duration: 0s; transform: translate3d(-860px, 0px, 0px);">
          <li ng-repeat="video in responses_popular.data" data-thumb-alt="" style="width: 300px;  ; margin-right: 5px; float: left; display: block;">
              <img ng-src="images/{{video.videoID}}jpg" draggable="false">
              
              <div class="hh"><a ng-click="goto_video(video.videoID)">{{video.title}}</a><p>{{video.description}}</p></div>
           
            
          </ul></div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
      </section>
   </div><!--end of single row-->



   <!--single row of thumnails-->
    <div class="col-sm-12">
      <div class="col-sm-12">
       <h4>Trending</h4>
      </div>
     <section class="slider">
        <div class="flexslider carousel">
          
        <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 2400%; transition-duration: 0s; transform: translate3d(-860px, 0px, 0px);">
          <li ng-repeat="video in responses_trending.data" data-thumb-alt="" style="width: 300px;  ; margin-right: 5px; float: left; display: block;">
              <img ng-src="images/{{video.videoID}}jpg" draggable="false">
              
              <div class="hh"><a ng-click="goto_video(video.videoID)">{{video.title}}</a><p>{{video.description}}</p></div>
            
          </ul></div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
      </section>
   </div><!--end of single row-->




   <!--single row of thumnails-->
   

  



   
    <!-- Include all compiled plugins (below), or include individual files as needed -->


    <script type="text/javascript">
    /*$(function(){
      SyntaxHighlighter.all();
    });*/ 
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 210,
        itemMargin: 5,
        minItems: 2,
        maxItems: 4,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>

   <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
  
  <script defer="" src="slider/js/demo.js"></script>

  <script defer="" src="slider/jquery.flexslider.js"></script>

   


  </body>
</html>
